# Xcode
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
build/
DerivedData/
*.xcscmblueprint
*.xccheckout
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# Dependency Managers
Pods/
Carthage/Build/

# macOS
.DS_Store

# Editor / IDE
.cursor/

# Figma Export
figma-export/

# PurC files
*.pur
